$white: #fff;
$black: #000;

$text-color: #575756;
$text-light-color: #9d9d9c;

$green-color: #009640;
$green-dark-color: #007f36;

$neutral-icon: #9d9d9c;
$green-icon: #009640;

$light-color: #dcdcdc;

$neutral-background: #f5f5f5;
$dark-background: #9d9d9c;
$darkest-background: #575756;
$green-background: #009640;

$green-button-dark-color: #007f36;
$green-button-dark-hover-color: #00662c;
$green-button-dark-active-color: #007f36;
$green-button-dark-focus-color: #00662c;
