/* .comp-card-01 {
  margin: 1rem auto;
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;

  button {
    border: 1px solid yellow;
  }

  .order {
    margin-left: 15rem;
  }
}
 */
 